<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Find all training days</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Description </th>
        <th> Training day </th>
        <th> User id </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="day : ${days}">
        <td><span th:text="${day.description}"> Description </span></td>
        <td><span th:text="${day.trainingDay}"> Training day </span></td>
        <td><span th:text="${day.userId}"> User id </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>